// body background
$body_background_color: $gray_lighter;
$body_background_image_file: null; //PATH _TO_IMAGE or null
$body_background_repeat: null; //repeat, no-repeat, repeat-x, repeat-y or null
$body_background_offset: null; // xOffset, yOffset or null