$btn_gradient: false;

// アクションボタンのアイコンタグと⌘ラベルのclass名設定
$action-label-className: cmd-label;
$icon-positionized-className: is-ico-rside;

//button design
$btn-border-width: 1px;
$btn-border-kind: solid;
$border_radius: 2px;
$shadow: 0 0 2px rgba(0,0,0,.11);

@mixin hoverState() {
  position: relative;
}

@mixin activeState() {
  position: relative;
  top: 1px;
  box-shadow: none;
}

/* normal */
$btn_normal: $gray_light;
$btn_normal_hover: lighten($btn_normal, 0.3 * $lighten_amount);
$btn_normal_active: darken($btn_normal, $darken_amount);

$btn_normal_grad: lighten($btn_normal, $lighten_amount), $btn_normal;
$btn_normal_grad_hover: lighten($btn_normal_hover, $lighten_amount), $btn_normal;
$btn_normal_grad_active: $btn_normal_active, $btn_normal;

$normal_btn_text: #585858;
$normal_btn_border: darken($gray_dark, 0.5 * $darken_amount);

/* submit */
$submit: $blue;
$submit_hover: lighten($submit, 0.8 * $lighten_amount);
$submit_active: darken($submit, 1.3 * $darken_amount);

$submit_grad: lighten($submit, $lighten_amount), $submit;
$submit_grad_hover: lighten($submit_hover, $lighten_amount), $submit;
$submit_grad_active: $submit_active, $submit;

$submit_btn_text: $white;
$submit_btn_border: darken($submit, 0.3 * $darken_amount);

/* reset btn */
$reset: $gray;
$reset_hover: lighten($reset, 0.34 * $lighten_amount);
$reset_active: darken($reset, $darken_amount);

$reset_grad: lighten($reset, 1.5*$lighten_amount), $reset;
$reset_grad_hover: lighten($reset, 2*$lighten_amount), $reset;
$reset_grad_active: $reset_active, $reset;

$reset_btn_text: $white;
$reset_btn_border: darken($reset, $darken_amount);

/* cancel btn */
$cancel_btn_text: $text_normal;
