$lighten_amount: 13%;
$darken_amount: 10%;
$lighten_strong_amount: 2 * $lighten_amount;


//for Background
$gray: #DFDFE3;
$gray_dark: #D0D0D5;
$gray_light: #EFEFF1;
$gray_lighter: #FCFCFD;

//for Text
$text_dark: #3D3D40;
$text_normal: #7a7a80;
$text_light: #A6A6AD;

//add color to use at following
$white: $gray_lighter;
$black: #181818;
$yellow: #FDC12D;
$red: #E74A31;
$blue: #43D0F5;
$pink: #FDACFD;
$green: #60E0D1;
$purple: #9363F0;

$site_key_color: $blue;
$emphasys_key_color: $green;
$site_accent_color: $pink;

$default_fc: $text-normal;

//for anchor
$link_color: #101818;
$link_visited: $text_light;
$link_hover: darken($link_color, $lighten_amount);
$link_active: $pink;
$link_focus: $pink;
$link_current: $text_normal;
