$lighten_amount: 13%;
$darken_amount: 10%;
$lighten_strong_amount: 2 * $lighten_amount;

$black: #000;
$white: #FFF;

$body_background_color: $white;

$site_key_color: #3ba4b0;
$emphasys_key_color: #3b6ab0;
$site_accent_color: #3bb082;

$counter_white: #f0f0f0;

$dark-gray: #5e5e5e;
$gray: #8d8d8d;
$lightGray: #a5a5a5;

/* add color to use at following */
$yellow: #FFFF00;
$red: #d15749;