// form UI design
$fieldset: '.field';
$inputarea: '.inputarea';
$disabledOpacity: 0.4;

//fieldset
$fieldset_border: null; //true or null
$fieldset_margin: 1.5 * $grid_height + 0px 0;
$fieldset_padding: 0;

//default-text-input-design
$input_width: 9; //column num
$input_background: $gray_lighter;
$input_border: solid 1px $gray;
$input_box_shadow: none;

//input type="text", textarea
$placeholder_text_color: $gray;

$input_textarea_padding: 8px;

$text-inputs: 'input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], input[type="url"]';
