 // IF You use "display:box;" on your website, turn true
$box_layout: false;

// grid
$grid_width: 2 * $base_fs;
$grid_height: $default_lh * $base_fs;
$page_width: 30 * $grid_width;
$column_num: 5;

// action area padding
$padding_tb: .618em;
$padding_lr: 1.615em;