// pagenation design
@mixin default_ui_pagenation_action {
  margin-right: 0.5 * $padding_tb;
  padding: $padding_tb 0.927em;
  border: solid 1px #CCC;

  &.current {
    background: #D8D8D8;
  }

  &:hover {
    background: $site_key_color;
    color: $white;
  }
}
