$striped: true;

//table design settings
$cellpadding_v: $padding_tb;
$cellpadding_h: $padding_lr;

$theadColor: lighten($site_key_color, 4*$lighten_amount);
$td: $white;

$tbodyTh: darken($td, 5%);
$trEven: darken($td, 5%);
$thEven: darken($td, 5%);

%default_table {
  @include outer-table-borders(2px, $gray, $verticalLine: false);
  @include inner-table-borders(1px, $gray, $verticalLine: false);
  @include stripedTable;
}