$striped: true;

//table design settings
$cellpadding_v: $padding_tb;
$cellpadding_h: $padding_lr;

$theadColor: lighten($site_key_color, 4*$lighten_amount);
$td: $white;

$tbodyTh: darken($td, 5%);
$trEven: darken($td, 5%);
$thEven: darken($td, 5%);

//border-settings
$outer-bw: 2px;
$outer-bc: $gray;
$outer-verticalLine: false;

$inner-bw: 1px;
$inner-bc: $gray;
$inner-verticalLine: false;

