// ui-tab design
$each_tab_margin: 1px;

@mixin tab_layout {
  width: 80%;
  margin: 0 auto;
}

@mixin default_tab_design {
  //write down here design CSS
  background: $gray_light;
  color: $default_fc;
  border: solid 1px $gray;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 1px 1px 0 rgba($white, 0.2), inset 0 -1px 2px 0 rgba($text_dark, 0.2);

  &:hover {
    background-color: $site_key_color;
    color: $white;
  }
  &.current {
    background-color: lighten($gray_light, 2*$lighten_amount);
    &:hover {
      color: inherit;
    }
    cursor: default;
    box-shadow: none;
  }
  
  @include z-index(tab);
  @include font_weight(bold);
}

@mixin default_tab_content_design {
  top: -1px;
  padding: 8px;
  background: lighten($gray_light, 2*$lighten_amount);
  border: solid 1px $gray;
  font-size: $base_fs;
  @include z-index(tab-content);
}