@charset "UTF-8";

/* --
default settings
-- */
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, tahoma, arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;

$default_family: $sans-serif;
/* --
anchor settings
-- */
$link_color: #258FB8;
$link_visited: lighten($link_color, $lighten_strong_amount);
$link_hover: lighten($link_color, $lighten_amount);
$link_active: darken($link_color, $darken_amount);
$link_focus: $link_hover;
$link_current: #333;

$link_decoration: true;

//empasis
$emphasis: $emphasys_key_color;
$alert_warning: $yellow;
$alert_error: $red;
$alert_success: $site_accent_color;
$alert_info: $site_key_color;


%h1 {
	@include heading-fs-lh(32, 3); //@mixin heading-fs-lh($fontsize, $grid_height_num)
}

%h2 {
	@include heading-fs-lh(24, 2);
}

%h3 {
	@include heading-fs-lh(20, 2);
}

%h4 {
	@include heading-fs-lh($base_fs, 1);
}

%h5 {
	@include heading-fs-lh(13, 1);
}

%h6 {
	@include heading-fs-lh(11, 1);
}