@charset "UTF-8";

// font-family
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, tahoma, arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;

$default_family: $sans-serif;


// anchor settings
$link_color: #258FB8;
$link_visited: lighten($link_color, $lighten_strong_amount);
$link_hover: lighten($link_color, $lighten_amount);
$link_active: darken($link_color, $darken_amount);
$link_focus: $link_hover;
$link_current: #333;

$link_decoration: true;

//empasis
$emphasis: $emphasys_key_color;
$alert_warning: $yellow;
$alert_error: $red;
$alert_success: $site_accent_color;
$alert_info: $site_key_color;

//heading fontsize & line-height:nth-grid-height
$h1-fs: 32;
$h1-lh: 3;

$h2-fs: 24;
$h2-lh: 2;

$h3-fs: 20;
$h3-lh: 2;

$h4-fs: $base_fs;
$h4-lh: 2;

$h5-fs: 13;
$h5-lh: 1;

$h6-fs: 11;
$h6-lh: 1;
