@charset "UTF-8";
//for iOS Font-Antialias
$font_smoothing: true;

$base_fs: 16;
$default_lh: 1.5;
$default_fw: 200;
$default_fw_bold: 500;

// font-family
$sans-serif: "Helvetica Neue", Helvetica, tahoma, arial, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$default_family: $sans-serif;

// Tune "true", if you need anchor underline
$link_decoration: true;

//::selection
$selection_bg: $pink;
$selection_fc: $white;

//empasis
$emphasis: $emphasis_key_color;
$alert_warning: $yellow;
$alert_error: $red;
$alert_success: $green;
$alert_info: $blue;

//heading fontsize & line-height:nth-grid-height & Color
$h1-fs: 48;
$h1-lh: 2;
$h1-fc: $blue;
$h1-margin: 0 0 px-to-rem(3 * $default_lh * $base_fs) 0;
$h1-weight: 200;

$h2-fs: 34;
$h2-lh: 1.5;
$h2-fc: $text_dark;
$h2-margin: px-to-rem(3 * $default_lh * $base_fs) 0 px-to-rem(1 * $default_lh * $base_fs) 0;
$h2-weight: 200;

$h3-fs: 21;
$h3-lh: 1;
$h3-fc: $text_dark;
$h3-margin: px-to-rem(2 * $default_lh * $base_fs) 0 px-to-rem(1 * $default_lh * $base_fs) 0;
$h3-weight: $default_fw_bold;

$h4-fs: $base_fs;
$h4-lh: 1;
$h4-fc: $text_dark;
$h4-margin: px-to-rem(1.5 * $default_lh * $base_fs) 0 0 0;
$h4-weight: $default_fw_bold;

$h5-fs: 13;
$h5-lh: 1;
$h5-fc: 'inherit';
$h5-margin: px-to-rem(1 * $default_lh * $base_fs) 0 0 0 0;
$h5-weight: $default_fw_bold;

$h6-fs: 13;
$h6-lh: 1;
$h6-fc: 'inherit';
$h6-margin: 0 0 0 0;
$h6-weight: $default_fw_bold;

@mixin strong_text_design {
  color: $green;
}

@mixin kbd_design {
  display: inline-block;
  padding: 0 $padding_lr / 3.4;
  background: $gray-lighter;
  border: solid 1px $gray_dark;
  border-radius: 3px;
  text-shadow: 0 1px 0 white;
}
