//z-index management
//左からz-indexの値が大きい順に記述
//z-index settings
@mixin z-index($targets) {
  @if $targets == msg {
    z-index: 30;
  } @elseif $targets == pulldown {
    z-index: 20;
  }@else if $targets == tab {
    z-index: 20;
  } @else if $targets == tab-content {
    z-index: 10;
  } @else if $targets == banner {
    z-index: 10;
  }
}
