@charset "UTF-8";

/*-----------------------------------
layout settings
---------------------------------- */
 /* IF You use "display:box;" on your website, turn true */
$box-layout: true;

/* Define minimal grid  */
$grid_width: 16px;
$grid_height: 8px;
$grid_margin: 8px;

/* webpage design layout settings */
$page_width : 980px;
$box_margin: $grid_margin;

$body_background_color: #FFF;
$body_background_image_file: null; //PATH _TO_IMAGE or null
$body_background_repeat: null; //repeat, no-repeat, repeat-x, repeat-y or null
$body_background_offset: null; // xOffset, yOffset or nu;;

/* Wright down layout-setting setting for your website */
//$left_column_width: $grid_width * 8;
//$right_column_width: foo;



/*-----------------------------------
Define Colors
---------------------------------- */
$lighten_strong_amount: 16%;
$lighten_amount: 8%;
$darken_amount: 16%;

/*-----------------------------------
Typography Settings
---------------------------------- */
@import 'typography';

/*-----------------------------------
Icon Settings
---------------------------------- */
$icon_sprite_path: '../images/sprite_icon.svg';

/* icon_ratio to font-size of each UI */
$icon_ratio_tab: 1.1em;
$icon_ratio_button: 1em;

/*-----------------------------------
Form Design Settings
---------------------------------- */
$fieldset_border: null; //true or null
$input_textarea_padding: 3px;
$input_textarea_boxshadow: false; //If boxshadow is needed, turn true, And define into mixin of input_box_shadow_setting.

@mixin input_textarea_border {
  border: input_textarea_border(2px, #EEE, inset);
}

@mixin input_box_shadow_setting {
  //If boxshadow is needed, define in this area
  //@include box-shadow(Position Xoffset Yoffset Blur Spred rgba(0,0,0,0));
}

/*-----------------------------------
UI Design Settings
---------------------------------- */
/* UI tab */
$ui_tab: true; //If your website needs tab UI, true else null

@mixin default_ui_tab_settings {
  width: 80%;
  margin: $grid_margin auto;
}

@mixin default_tab_design {
  //write down here design CSS
  background: #CCC;
  &:hover {
    background-color: lighten(#CCC, $lighten_amount);
  }
  &.current {
    background-color: darken(#CCC, $darken_amount);
  }
}

@mixin default_ui_tab_content {
  //write down here design CSS
  background: darken(#CCC, $darken_amount);
  padding: $grid_margin;
  font-size: 1rem;
}

/* UI pagenation */
$ui_pagenation: true; //If your website needs pagenation UI, true else null

@mixin default_ui_pagenation_action {
  margin-right: 0.309em;
  padding: 0.618em 0.927em;
  border: solid 1px #CCC;
  &.current {
    background: #D8D8D8;
  }
}

