@charset "UTF-8";

/*-----------------------------------
layout settings
---------------------------------- */
 /* IF You use "display:box;" on your website, turn true */
$box_layout: true;

/* Define minimal grid  */
$grid_width: 16px;
$grid_height: 8px;
$grid_margin: 8px;

/* webpage design layout settings */
$page_width : 980px;


$body_background_color: #FFF;
$body_background_image_file: null; //PATH _TO_IMAGE or null
$body_background_repeat: null; //repeat, no-repeat, repeat-x, repeat-y or null
$body_background_offset: null; // xOffset, yOffset or nu;;

/* Wright down layout-setting setting for your website */
//$left_column_width: $grid_width * 8;
//$right_column_width: foo;




/*-----------------------------------
define colors
---------------------------------- */
$lighten_strong_amount: 16%;
$lighten_amount: 8%;
$darken_amount: 16%;

/*-----------------------------------
design settings
---------------------------------- */
/* tab UI */

/*-----------------------------------
typography settings
---------------------------------- */
@import 'typography';

/*-----------------------------------
icon settings
---------------------------------- */
$icon_sprite_path: '../images/sprite_icon.svg';

/* icon_ratio to font-size of each UI */
$icon_ratio_tab: 1em;
$icon_ratio_button: 1em;

/*-----------------------------------
form settings
---------------------------------- */
$fieldset_border: null; //true or null

$input_textarea_padding: 3px;

@mixin input_textarea_border {
	border: input_textarea_border(2px, #EEE, inset);
}

@mixin default_btn_design {
  background: #FF0;
  border: solid 1px #666;
  color: #333;
}

/*-----------------------------------
UI settings
---------------------------------- */
/* pagenation design */
@mixin default_ui_pagenation_action {
	margin-right: 0.309em;
	padding: 0.618em 0.927em;
	border: solid 1px #CCC;
	&.current {
		background: #D8D8D8;
	}
}

/* ui-tab design */
@mixin default_ui_tab_design {
  width: 80%;
  margin: $grid_margin auto;
}

@mixin default_tab_design {
	//write down here design CSS
	background: #CCC;
  color: $default_fontcolor;
  @include font_weight(bold);

	&:hover {
	  background-color: lighten(#CCC, $lighten_amount);
	}
	&.current {
		background-color: darken(#CCC, $darken_amount);
	}
}

@mixin default_tab_content_design {
  padding: 8px;
  background: darken(#CCC, $darken_amount);
  font-size: $default_fontsize;
}