@charset "UTF-8";

/* --
default settings
-- */
$sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, tahoma, arial, sans-serif;
$serif: "Gergea", serif;

$default_fontweight: 300;
$default_fontsize: 16px;
$default_lineheight: 20px;
$default_fontcolor: #181818;
$default_family: $sans-serif;


/* --
anchor settings
-- */
$link_color: #258FB8;
$link_visited: lighten($link_color, $lighten_strong_amount);
$link_hover: lighten($link_color, $lighten_amount);
$link_active: darken($link_color, $darken_amount);;

$link_decoration: true;

@mixin link_decoration {
  @if $link_decoration {
    text-decoration: underline;
    &:hover{
      text-decoration: none;
      @content;
    }
  } @else {
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      @content;
    }
  }
}

//empasis
$alert_color: #f00;

// for Antialias setting for Safari
%bold {
  @include font_weight(bold);
}

//for example ui-pagenation, ui-tab
.current {
  @extend %bold;
}

//to clear text color for Safari, Firefox
%text_on_dark_background{
  text-shadow:#000 0 0 0;
  -moz-opacity: 0.99; /* for Firefox */
}

//for text-overflow
%text-overflow {
  overflow: hidden;  
  white-space: nowrap;  
  text-overflow: ellipsis;
}