/* --
Typography
-- */
%alert {
  color: $alert_color ;
  @extend %bold;
}

//for example ui-pagenation, ui-tab
%current {
  @extend %bold;
}

.note { font-size: 0.8em; }

/* layout pf object */ 
%lfloating { float: left; }

%box-sizing {
  @include box-sizing(border-box);
}

/* horizontal list */
%link_has_area { display: inline-block; }

%no-text-decoration { text-decoration: none; }

//横並びリスト
%horizontal_list {
  @include horizontal_obj(">li, >a, >button");
  line-height: normal;
  @extend %reset_liststyle;
}

//横並び定義
%horizontal_definition {
  @include horizontal_obj("dt, dd");
  @extend %reset_margin;
}

//単純な横並びリスト
%horizontal_text_menu {
  @extend %reset_liststyle;

  >li, >a, >dd { 
    padding: 0 $padding_lr;
  }
}

%centered_horizontal {
  text-align: center;

  ul, ol, menu,
  .horizontal-list { //Use this class if you use tag to use except for ui,ol,menu
    @include is_display_box(center) {
      display: inline-table;
    }

    @extend %reset_liststyle;

    > li {
      @if $box_layout == false {
        display: table-cell;
      }
    }

    a {
      display: block;
    }
  }
}

/* icon */
i {
  background: url(#{$icon_sprite_path}) no-repeat;
  vertical-align: middle;
}

/* navigations */
%action {
  display: inline-table;
  line-height: 1;
  padding: $padding_tb;
  text-decoration: none;
  vertical-align: middle;

  i,
  .cmd-label {
    display: table-cell;
    vertical-align: bottom;
  }

  i {
    &+.cmd-label {
      padding-left: 0.382em;
    }
  }

  &.is-ico-rside .cmd-label {
    padding-right: 0.382em;
  }

  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  
  &:disabled, 
  &.disabled {
    opacity: $disabledOpacity;
  }
}

%ui-pagenation {
  @extend %centered_horizontal;
  a {
    @extend %action;
    @include default_ui_pagenation_action;
    &.current{
      color: $default_fontcolor;
    }
  }
}

%ui-tab {
  font-size: 0;
  @include tab_layout;

  &.centered {
    @extend %centered_horizontal;
  }

  ul, ol, menu {
    @extend %horizontal_list;
  }

  a {
    margin: 0 $each_tab_margin 0 0;
    @extend %action;
    @include default_tab_design;
    font-size: 1rem;
  }

  i {
    width: $icon_ratio_tab;
    height: $icon_ratio_tab;
    @include background-size(auto $icon_ratio_tab);
  }

  .ui-tab-content {
    @include default_tab_content_design;
  }
}

/* form */
%validation_error {
  @include error_view {
    %error_txt {
      @include error_text;
    }
  }
}

%button_switch_icon {
  width: $icon_ratio_button;
  height: $icon_ratio_button;
  @include background-size(auto $icon_ratio_button) ;
}

%button {
  @extend %action;
  @extend %box-sizing;
  @include btn_designs;
  padding: .618em 1.309em;

  &[type=reset] {
    padding: 0.618em;
  }

  i {
    @extend %button_switch_icon;
  }
}

%switch {
  @extend %action;
  @extend %box-sizing;
  @include switch_design;

  i {
    @extend %button_switch_icon;
  }
}