.vertical-layout {
  @include vertical_form($fieldset, $inputarea);
}

legend {
  @extend %bold;
  color: $text_dark;
  vertical-align: middle;
}

.field-label {
  @extend legend;
}

.input-tiny {
  width: 100px !important;
}

.error {
  @extend %validation_error;
}

.field_with_errors { display: inline; }

.err-msg {
  color: $alert-error;
}

#{$inputarea} { padding-right: 8px; }

.horizontal {
  th, td {
    padding: 1.125em;
    border-width: 0 !important;
    vertical-align: top;
  }

  th {
    text-align: right;
    white-space: nowrap;
  }

  .adjust-valign {
    vertical-align: middle;
    line-height: (1.5 * $grid_height / 16);
  }

  @include horizontal_form(td);
}
