.vertical-layout {
  @include vertical_form($fieldset, $inputarea);
}

.horizontal {
  tbody {
    td { width: 80%; }
  }

  th, td {
    vertical-align: top;
  }

  tbody th {
    max-width: 20%;
    text-align: right;
    white-space: nowrap;
  }

  .adjust-valign {
    vertical-align: middle;
    line-height: (1.5 * $grid_height / 16);
  }

  @include horizontal_form(td, $inputarea);
}

legend {
  @extend %bold;
  margin-right: 1.6rem;
  color: $text_dark;
  vertical-align: middle;
}

.field-label {
  @extend legend;
}

.input-tiny {
  width: 100px !important;
}

.error {
  @extend %validation_error;
}

.field_with_errors { display: inline; }

.err-msg {
  color: $alert-error;
}
