.site-body {
  @include is_display_box(false);
  @extend %clearfix;
  width: addUnit($page_width);
  margin: 0 auto;
  background: $yellow;
}

.main {
  @include column-grid(3, true);
  height: 200px;
  // margin-right: $grid_height;
  background: $gray_light;
}

.aside {
  @include column-grid(2);
  height: 200px;
  background: $gray_light;
}

.left {
  @include column-grid(1, true);
  height: 150px;
  background: $gray;
}

.middle {
  @include column-grid(3);
  height: 150px;
  background: $gray;
}

.right {
  @include column-grid(1);
  height: 150px;
  background: $gray;
}

.navigation {
  @include column-grid(1, true);
  height: 150px;
  background: $gray;
}

.content {
  @include column-grid(4);
  height: 150px;
  background: $gray;
}

.all {
  @extend %separatedNum-5;
}

//horizontal menu
.horizontal {
  @extend %horizontal_list;
  /* added settings */
}

// justified-horizontal
.justified-horizontal {
  @include justified-horizontal(div){
    width: 18%;
    height: 80px;
    margin-bottom: 2.5%;
    background: $gray_light;
    font-size: 1rem;
  };
}

//variable-horizontal
.horizontal-layout-top {
  @include variable-horizontal(li, top, left){
    width: 160px;
    height: 160px;
    margin-right: 1px;
    background: $gray_light;
    border-right: solid 1px $white;
  }
}

.horizontal-layout-middle {
  @include variable-horizontal(div, middle, center){
    width: 160px;
    height: 160px;
    margin-right: 1px;
    background: $gray_light;
    border-right: solid 1px $white;
  }
}

.horizontal-layout-bottom {
  @include variable-horizontal(div, bottom, right){
    width: 160px;
    height: 160px;
    margin-right: 1px;
    background: $gray_light;
    border-right: solid 1px $white;
  }
}

.centered-horizontal {
  @extend %centered_horizontal;
  /* added settings */
}