@charset "UTF-8";
// anchor
.nav {
  &:link,
  &:visited {
   color: $site_key_color;
   text-decoration: none;
  }

  &:hover {
   text-decoration: underline;
  }
}

.text-ui {
  @extend %bolder;

  &:link,
  &:visited {
    color: $text-normal;
    text-decoration: none;
  }

  &:hover {
    color: $text-dark;
  }
}