@import "compass/";
@import "compass/css3";


//To Apply Style to only IE8 @include for_ie8 {}
@mixin for_ie8 {
  .ie8 {
    @content;
  }
}

//To Apply Style to only IE8 @include for_ie9 {}
@mixin for_ie9 {
  .ie9 {
    @content;
  }
}

//To Apply Style to only IE8 @include for_ie9 {}
@mixin for_lt-ie10 {
  .lt-ie10 {
    @content;
  }
}

//if display:box == true
@mixin is_display_box($box_pack_value: false) {
  @if $box_layout {
    @include display-box;
    @if $box_pack_value {
      @include box-pack($box_pack_value);
    }
  } @else {
    @content;
  }
}

@mixin easy-clearfix {
  overflow: hidden;
  zoom: 1;
}

@mixin define_column_grid($outer_dom_size) {
  $base_grid: ($outer_dom_size - $grid_height * ($column_num - 1))/ $column_num;

  @for $i from 1 through $column_num {
    %separatedNum-#{$i} {
      @extend %box-sizing;

      @if $box_layout == false {
        @extend %lfloating;
      }
      width: cp($base_grid * $i + $grid_height * ($i - 1), $outer_dom_size);
      
      @if $i == $column_num {
        // margin-right: $grid_height;
      } @else {
        margin-left: addUnit($grid_height);
      }
    }
  }
}

@mixin column-grid($num, $first: false) {
  @extend %separatedNum-#{$num};
  @if $first {
    @extend %first-grid;
  }
}

//for iOS Font-Antialius
@mixin font_weight($weight) {
  font-weight: $weight;
  @if $weight == $default_fw_bold {
    -webkit-font-smoothing: antialiased;
  }
}

//heading typography
@mixin headingDesign($weight, $size, $grid_height_num, $font_color: 'inherit', $margin: 'inherit') {
  margin: $margin;
  line-height: $grid_height_num * ceil($grid_height / $size * 100) / 100;
  font-size: px-to-rem($size);
  font-weight: $weight;
  color: $font_color;
}

//anchor
@mixin link_decoration {
  @if $link_decoration {
    text-decoration: underline;
    &:hover{
      text-decoration: none;
      @content;
    }
  } @else {
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      @content;
    }
  }
}

@mixin body_background {
  background: #{$body_background_color} #{body_background_image($body_background_image_file)} #{$body_background_repeat} #{$body_background_offset};
}

//横並びクラス作成元関数
@mixin horizontal_obj($childTags) {
  @include is_display_box(null) {
    @if $box_layout == false {
      @extend %pie-clearfix;
    }
  }
  
  #{$childTags} {
    @if $box_layout == false {
      float: left;
    }
    @extend %reset_margin;
    @content;
  }
}

//input_text placeholder
$placeholders: '-webkit-input-placeholder', '-moz-placeholder', '-ms-input-placeholder';

@mixin placeholder {
  @each $placeholder in $placeholders {
    @if $placeholder == "-webkit-input-placeholder" {
      &::#{$placeholder} {
        @content;
      }
    }
    @else if $placeholder == "-moz-placeholder" {
      // FF 18-
      &:#{$placeholder} {
        @content;
      }

      // FF 19+
      &::#{$placeholder} {
        @content;
      }
    }
    @else {
      &:#{$placeholder} {
        @content;
      }
    }
  }
}

//btndesign
@mixin border($width: 2px, $design: solid, $btncolor: inherit) {
  border: $width $design darken($btncolor, $darken_amount);
}

//table design
//override compass outer-table-borders mixin
@mixin outer-table-borders($width: 2px, $color: black, $verticalLine: false) {
  border: $width solid $color;
  @if $verticalLine == false {
    border-right-width: 0;
    border-left-width: 0;
  }
  thead {
    th {
      background: $theadColor;
      border-bottom: $width solid $color;
    }
  }
  tfoot {
    th, td { border-top: $width solid $color; }
  }
  th {
    &:first-child {
      border-right: $width solid $color;
    }
  }
}

//override compass inner-table-borders mixin
@mixin inner-table-borders($width: 2px, $color: black, $verticalLine: false) {
  th, td {
    border: {
      @if $verticalLine {
        right: $width solid $color;
      } @else {
        right-width: 0px;
      }     
      bottom: $width solid $color;
      left-width: 0px;
      top-width: 0px;
    };
    &:last-child,
    &.last {
      @if $verticalLine {
        border-right-width: 0px;
      }
    }
  }
  // IE8 ignores rules that are included on the same line as :last-child
  // see http://www.richardscarrott.co.uk/posts/view/ie8-last-child-bug for details
  tbody, tfoot {
    tr:last-child {
      th, td {
        border-bottom-width: 0px; } }
    tr.last {
      th, td {
        border-bottom-width: 0px
      }
    }
  }
}

@mixin stripedTable {
  tr {
    @if $striped {
      &:nth-child(even) {
        th{
          background: $thEven;
        }
        td {
          background: $trEven;
        }
      }
    }
  }
  @content;
}

//gradation
// @mixin gradient-top-lighten($color:#666, $lighten:10%) {
//   background-color: $color;
//   @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
// }