// ui-modulesで設定されたplaceholderを@extendすることで、
// 必要なUIに自由にClass名を付加することができます。


//boxlayout
.site-body {
  @include is_display_box(false);
  @extend %clearfix;
  width: $page_width;
  margin: 0 auto;
  background: $yellow;
}

.main {
  @include column-grid(3, true);
  height: 200px;
  // margin-right: $grid_margin;
  background: $lightGray;
}

.aside {
  @include column-grid(2);
  height: 200px;
  background: $lightGray;
}

.left {
  @include column-grid(1, true);
  height: 150px;
  background: $gray;
}

.middle {
  @include column-grid(3);
  height: 150px;
  background: $gray;
}

.right {
  @include column-grid(1);
  height: 150px;
  background: $gray;
}

.navigation {
  @include column-grid(1, true);
  height: 150px;
  background: $gray;
}

.content {
  @include column-grid(4);
  height: 150px;
  background: $gray;
}

.all {
  @extend %separatedNum-5;
}

//typography
.alert {
  @extend %alert;
  /* added settings */
}

.current {
  @extend %current;
  /* added settings */
}

//horizontal menu
.horizontal {
  @extend %horizontal_list;
  /* added settings */
}

.horizontal-layout {
  @include variable-horizontal(li);
}

.horizontal-layout2 {
  @include variable-horizontal(div);
}

.centered-horizontal {
  @extend %centered_horizontal;
  /* added settings */
}

.pagenation {
  @extend %ui-pagenation;
  /* added settings */
}

.tab {
  @extend %ui-tab;
  /* added settings */
}

//form
.error {
  @extend %validation_error;
}
.error-txt {
  @extend %error_txt;
}

//button
.btn {
  @extend %button;

  &.cancel {
    @extend %cancel;
  }
}

//table
.data-table {
  @extend %default_table;
}

//switch
.switch {
  @extend %switch;
}

