/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
/*-----------------------------------
layout settings
---------------------------------- */
/* IF You use "display:box;" on your website, turn true */
/* Define minimal grid  */
/* webpage design layout settings */
/* Wright down layout-setting setting for your website */
/*-----------------------------------
define colors
---------------------------------- */
/*-----------------------------------
design settings
---------------------------------- */
/* tab UI */
/*-----------------------------------
typography settings
---------------------------------- */
/* --
default settings
-- */
/* --
anchor settings
-- */
/* line 51, ../sass/_typography.scss */
.current, h1, h2, h3, h4, h5, h6, b,
strong, dt, th, .alert {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

/*-----------------------------------
icon settings
---------------------------------- */
/* icon_ratio to font-size of each UI */
/*-----------------------------------
form settings
---------------------------------- */
/*-----------------------------------
UI settings
---------------------------------- */
/* pagenation design */
/* ui-tab design */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../sass/_default.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../sass/_default.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 41, ../sass/_default.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 50, ../sass/_default.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 71, ../sass/_default.scss */
html {
  font-size: 16px;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  font-weight: 300;
}

/* line 78, ../sass/_default.scss */
body, h1, h2, h3, h4, h5, h6, form, button,
input,
select,
textarea {
  margin: 0;
}

/* line 79, ../sass/_default.scss */
legend, input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

/* line 81, ../sass/_default.scss */
nav ul, nav ol,
menu, .ui-tab ul, .ui-tab ol, .ui-tab menu, .test-horizontal, .ui-pagenation ul, .ui-tab.centered ul, .centered-horizontal-wrapper ul, .ui-pagenation ol, .ui-tab.centered ol, .centered-horizontal-wrapper ol, .ui-pagenation menu, .ui-tab.centered menu, .centered-horizontal-wrapper menu,
.ui-pagenation .horizontal-list,
.ui-tab.centered .horizontal-list,
.centered-horizontal-wrapper .horizontal-list {
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/_default.scss */
body {
  background: white   ;
  font: 1rem/20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, tahoma, arial, sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 97, ../sass/_default.scss */
a {
  color: #258fb8;
  /*
   * Improves readability when focused and also mouse hovered in all browsers
   * people.opera.com/patrickl/experiments/keyboard/test
   */
}
/* line 29, ../sass/_typography.scss */
a:link {
  text-decoration: underline;
}
/* line 32, ../sass/_typography.scss */
a:hover {
  text-decoration: none;
  color: #30a7d5;
}
/* line 108, ../sass/_default.scss */
a:hover, a:active {
  outline: 0;
}
/* line 110, ../sass/_default.scss */
a:visited {
  color: #52b6dc;
}
/* line 112, ../sass/_default.scss */
a:active {
  color: #175a74;
}
/* line 116, ../sass/_default.scss */
a:focus {
  /*
   * Addresses outline displayed oddly in Chrome
   */
  outline: thin dotted;
}
/* line 123, ../sass/_default.scss */
a.current {
  color: #333;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 132, ../sass/_default.scss */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

/* line 138, ../sass/_default.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 147, ../sass/_default.scss */
blockquote {
  margin: 1em 40px;
}

/* line 151, ../sass/_default.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 159, ../sass/_default.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 169, ../sass/_default.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 181, ../sass/_default.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 191, ../sass/_default.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 204, ../sass/_default.scss */
q {
  quotes: none;
}

/* 2 */
/* line 211, ../sass/_default.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 216, ../sass/_default.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 226, ../sass/_default.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 233, ../sass/_default.scss */
sup {
  top: -0.5em;
}

/* line 237, ../sass/_default.scss */
sub {
  bottom: -0.25em;
}

/* line 241, ../sass/_default.scss */
hr {
  clear: both;
  border: none;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 250, ../sass/_default.scss */
nav ul, nav ol,
menu, .ui-tab ul, .ui-tab ol, .ui-tab menu, .test-horizontal, .ui-pagenation ul, .ui-tab.centered ul, .centered-horizontal-wrapper ul, .ui-pagenation ol, .ui-tab.centered ol, .centered-horizontal-wrapper ol, .ui-pagenation menu, .ui-tab.centered menu, .centered-horizontal-wrapper menu,
.ui-pagenation .horizontal-list,
.ui-tab.centered .horizontal-list,
.centered-horizontal-wrapper .horizontal-list {
  list-style: none;
  list-style-image: none;
}

/* line 256, ../sass/_default.scss */
dl, ol, ul {
  margin: 1em 0;
}

/* line 260, ../sass/_default.scss */
ol, ul {
  padding: 0 0 0 40px;
}

/* line 269, ../sass/_default.scss */
dd {
  margin: 0 0 0 40px;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 286, ../sass/_default.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  vertical-align: baseline;
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 296, ../sass/_default.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 308, ../sass/_default.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/*
 * Define consistent border, margin, and padding
 */
/* line 328, ../sass/_default.scss */
fieldset {
  border: none;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 345, ../sass/_default.scss */
legend {
  border: 0;
  /* 1 */
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/* line 355, ../sass/_default.scss */
label:not(:first-child) input[type="checkbox"],
label:not(:first-child) input[type="radio"] {
  margin-left: 0.618em;
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 370, ../sass/_default.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 382, ../sass/_default.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/* line 389, ../sass/_default.scss */
input[type="text"],
input[type="password"],
input[type='email'],
input[type='url'] {
  padding: 3px;
  border: 2px #eeeeee solid inset;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 404, ../sass/_default.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 415, ../sass/_default.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 427, ../sass/_default.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  margin-right: 0.3em;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 440, ../sass/_default.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 452, ../sass/_default.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 462, ../sass/_default.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 472, ../sass/_default.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 486, ../sass/_default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 496, ../sass/_default.scss */
tbody th {
  text-align: left;
}

/* =============================================================================
clearfix
 ========================================================================== */
/* --
Typography
-- */
/* line 4, ../sass/_ui_modules.scss */
.alert {
  color: red;
}

/* line 9, ../sass/_ui_modules.scss */
.addition {
  font-size: 0.8em;
}

/* layout pf object */
/* horizontal list */
/* line 15, ../sass/_ui_modules.scss */
.ui-tab ul a, .ui-tab ol a, .ui-tab menu a, .test-horizontal a {
  display: inline-block;
}

/* line 17, ../sass/_ui_modules.scss */
.ui-tab ul, .ui-tab ol, .ui-tab menu, .test-horizontal {
  line-height: normal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}

/* line 37, ../sass/_ui_modules.scss */
.ui-pagenation, .ui-tab.centered, .centered-horizontal-wrapper {
  text-align: center;
}
/* line 41, ../sass/_ui_modules.scss */
.ui-pagenation ul, .ui-tab.centered ul, .centered-horizontal-wrapper ul, .ui-pagenation ol, .ui-tab.centered ol, .centered-horizontal-wrapper ol, .ui-pagenation menu, .ui-tab.centered menu, .centered-horizontal-wrapper menu,
.ui-pagenation .horizontal-list,
.ui-tab.centered .horizontal-list,
.centered-horizontal-wrapper .horizontal-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
/* line 54, ../sass/_ui_modules.scss */
.ui-pagenation ul a, .ui-tab.centered ul a, .centered-horizontal-wrapper ul a, .ui-pagenation ol a, .ui-tab.centered ol a, .centered-horizontal-wrapper ol a, .ui-pagenation menu a, .ui-tab.centered menu a, .centered-horizontal-wrapper menu a,
.ui-pagenation .horizontal-list a,
.ui-tab.centered .horizontal-list a,
.centered-horizontal-wrapper .horizontal-list a {
  display: block;
}

/* icon */
/* line 61, ../sass/_ui_modules.scss */
i {
  background: url(../images/sprite_icon.svg) no-repeat;
  vertical-align: middle;
}

/* navigations */
/* line 67, ../sass/_ui_modules.scss */
.ui-pagenation a, .ui-tab a, .btn {
  display: inline-table;
  line-height: 1;
  padding: 0.618em;
  text-decoration: none;
  vertical-align: middle;
}
/* line 75, ../sass/_ui_modules.scss */
.ui-pagenation a i, .ui-tab a i, .btn i,
.ui-pagenation a .cmd-label,
.ui-tab a .cmd-label,
.btn .cmd-label {
  display: table-cell;
  vertical-align: bottom;
}
/* line 81, ../sass/_ui_modules.scss */
.ui-pagenation a i + .cmd-label, .ui-tab a i + .cmd-label, .btn i + .cmd-label {
  padding-left: 0.382em;
}
/* line 86, ../sass/_ui_modules.scss */
.ui-pagenation a.is-ico-rside .cmd-label, .ui-tab a.is-ico-rside .cmd-label, .is-ico-rside.btn .cmd-label {
  padding-right: 0.382em;
}
/* line 91, ../sass/_ui_modules.scss */
.ui-pagenation a:link, .ui-tab a:link, .btn:link, .ui-pagenation a:visited, .ui-tab a:visited, .btn:visited {
  color: inherit;
  text-decoration: none;
}

/* line 100, ../sass/_ui_modules.scss */
.ui-pagenation a {
  margin-right: 0.309em;
  padding: 0.618em 0.927em;
  border: solid 1px #CCC;
}
/* line 81, ../sass/_settings.scss */
.ui-pagenation a.current {
  background: #D8D8D8;
}
/* line 103, ../sass/_ui_modules.scss */
.ui-pagenation a.current {
  color: #181818;
}

/* line 109, ../sass/_ui_modules.scss */
.ui-tab {
  width: 80%;
  margin: 8px auto;
  font-size: 0;
}
/* line 121, ../sass/_ui_modules.scss */
.ui-tab a {
  margin: 0 1px 0 0;
  background: #CCC;
  color: #181818;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}
/* line 98, ../sass/_settings.scss */
.ui-tab a:hover {
  background-color: #e0e0e0;
}
/* line 101, ../sass/_settings.scss */
.ui-tab a.current {
  background-color: #a3a3a3;
}
/* line 128, ../sass/_ui_modules.scss */
.ui-tab i {
  width: 1em;
  height: 1em;
  -webkit-background-size: auto 1em;
  -moz-background-size: auto 1em;
  -o-background-size: auto 1em;
  background-size: auto 1em;
}
/* line 134, ../sass/_ui_modules.scss */
.ui-tab .ui-tab-content {
  padding: 8px;
  background: #a3a3a3;
  font-size: 16px;
}

/* form */
/* line 140, ../sass/_ui_modules.scss */
.btn {
  background: #FF0;
  border: solid 1px #666;
  color: #333;
}
/* line 145, ../sass/_ui_modules.scss */
.btn[type="submit"], .btn[type="reset"] {
  padding: 0.618em 1.309em;
}
/* line 149, ../sass/_ui_modules.scss */
.btn i {
  width: 1em;
  height: 1em;
  -webkit-background-size: auto 1em;
  -moz-background-size: auto 1em;
  -o-background-size: auto 1em;
  background-size: auto 1em;
}
