%button_switch_icon {
  width: $icon_ratio_button;
  height: $icon_ratio_button;
  @include background-size(auto $icon_ratio_button) ;
}

%button {
  @extend %action;
  @extend %box-sizing;
  
  padding: $btn-padding;
  border: $btn-border-width solid $normal_btn_border;
  color: $normal_btn_text;

  @if $btn_gradient {
    @include background(linear-gradient($normal_grad));
    &:hover {
      @include background(linear-gradient($normal_grad_hover));
    }
  } @else {
    @include background($normal);
    &:hover {
      @include background($normal_hover);
    }
  }

  &:hover, &:link, &:visited { color: $normal_btn_text; }
  
  &:active,
  .active {
    @if $btn_gradient {
      @include background(linear-gradient($normal_grad_active));
    } @else {
      @include background($normal_active);
    }
  }

  &:disabled,
  &.disabled {
    &:hover {
      @if $btn_gradient {
        @include background(linear-gradient($normal_grad));
      } @else {
        @include background($normal);
      }
    }
  } 

  &.cancel {
    display: inline;
    @extend %erase_background;
    // padding: 0 0;
    color: $cancel_btn_text;
  }

  #{$icon-tagName} {
    @extend %button_switch_icon;
  }
}

%button_reset {
  @extend %action;
  @extend %box-sizing;
  padding: $btn-padding;
  color: $gray_dark;
  @include border($btn-border-width, solid, $reset_btn_border);

  @if $btn_gradient {
    @include background(linear-gradient($reset_grad));
    &:hover {
      @include background(linear-gradient($reset_grad_hover));
    }
  } @else {
    @include background($reset);
    &:hover {
      @include background($reset_hover);
    }
  }

  &:hover {
    color: $gray_dark;
  }

  &:active,
  .active {
    @if $btn_gradient {
      @include background(linear-gradient($reset_grad_active));
    } @else {
      @include background($reset_active);
    }
  }
} 

%switch {
  @extend %action;
  @extend %box-sizing;
  #{$icon-tagName} {
    @extend %button_switch_icon;
  }
  color: $switch_btn_text;
  &:link, &:visited { color: $switch_btn_text; }

  @if $switch_gradient {
    @include background(linear-gradient($switch_grad));
    &:hover, &.on {
      @include background(linear-gradient($switch_grad_hover));
    }
  } @else {
    @include background($switch_normal);
    &:hover, &.on {
      @include background($switch_normal_hover);
    }
  }

  &:hover, &.on {
    color: $switch_btn_hover_text;
  }

  &:disabled, &.disabled {
    &:hover {
      @if $switch_gradient {
        @include background(linear-gradient($switch_grad));
      } @else {
        @include background($switch_normal);
      }
      color: $switch_btn_text;
    }
  }

  &:active,
  .active {
    @if $btn_gradient {
      @include background(linear-gradient($switch_grad_active));
    } @else {
      @include background($switch_normal_active);
    }
  }

  &.on {
    &:hover {
      @if $switch_gradient {
        @include background(linear-gradient($switch_on_grad_hover));
      } @else {
        @include background($switch_on_hover);
      }
      @include border($btn-border-width, solid, $switch_hover_border);
    }
    &:active,
    .active {
      @if $btn_gradient {
        @include background(linear-gradient($switch_on_grad_active));
      } @else {
        @include background($switch_on_active);
      }
    }
  }

  @include border($switch_border-width, solid, $switch_btn_border);
}