.btn {
  @extend %action;
  @extend %bolder;
  @extend %default-ani;
  display: inline-block;
  padding: $padding_tb;
  border: $btn-border-width solid $normal_btn_border;
  border-radius: $border_radius;
  box-shadow: $shadow;
  color: $normal_btn_text;

  @if $btn_gradient {
    @include background(linear-gradient(to bottom, $btn_normal_grad));
    &:hover {
      @include background(linear-gradient(to bottom, $btn_normal_grad_hover));
    }
  } @else {
      background: $btn_normal;
    &:hover {
      background: $btn_normal_hover;
    }
  }

  &:hover {
    @include hoverState();
  }

  &:active {
    box-shadow: inner 0 1px rgba(0,0,0,.1);

    @include activeState();

    @if $btn_gradient {
      @include background(linear-gradient(to bottom, $bt-normal_grad_active));
    } @else {
      background: $btn_normal_active;
    }
  }

  &:disabled,
  &.disabled {
    &:hover {
      @if $btn_gradient {
        @include background(linear-gradient(to bottom, $bt-normal_grad));
      } @else {
        background: $btn_normal;
      }
    }

    &:active {
      top: 0;
    }
  }

  &.submit {
    border: $btn-border-width solid $submit_btn_border;
    color: $submit_btn_text;

    @if $btn_gradient {
      @include background(linear-gradient(to bottom, $reset_grad));
      &:hover {
        @include background(linear-gradient(to bottom, $reset_grad_hover));
      }
    } @else {
      background: $submit;
      &:hover {
        background: $submit_hover;
      }
    }

    &:hover, &:link, &:visited { color: $submit_btn_text; }

    &:hover {
      @if $btn_gradient {
        @include background(linear-gradient(to bottom, $btn-submit_grad));
      } @else {
        background: $submit_hover;
      }
    }

    &:active {
      @if $btn_gradient {
        @include background(linear-gradient(to bottom, $submit_grad_active));
      } @else {
        background: $submit_active;
      }
    }

    &:disabled,
    &.disabled {
      &:hover {
        @if $btn_gradient {
          @include background(linear-gradient(to bottom, $bt-submit_grad));
        } @else {
          background: $submit;
        }
      }
    }
  }

  &.cancel {
    @extend %erase_background;
    text-decoration: underline;

    &:hover {
      @extend %erase_background;
      text-decoration: none;
    }
  }
}

a.btn {
  color: inherit;
}
