%button_switch_icon {
  width: $icon_ratio_button;
  height: $icon_ratio_button;
  background-size: auto $icon_ratio_button;
}

.btn {
  @extend %action;
  border: $btn-border-width solid $normal_btn_border;
  border-radius: $border_radius;
  box-shadow: $shadow;
  color: $normal_btn_text;

  @if $btn_gradient {
    @include background(linear-gradient(to bottom, $btn_normal_grad));
    &:hover {
      @include background(linear-gradient(to bottom, $btn_normal_grad_hover));
    }
  } @else {
      background: $btn_normal;
    &:hover {
      background: $btn_normal_hover;
    }
  }

  &:hover {
    @include hoverState();
  }

  &:active {
    box-shadow: inner 0 1px rgba(0,0,0,.1);

    @include activeState();

    @if $btn_gradient {
      @include background(linear-gradient(to bottom, $bt-normal_grad_active));
    } @else {
      background: $btn_normal_active;
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.4;

    &:hover {
      @if $btn_gradient {
        @include background(linear-gradient(to bottom, $bt-normal_grad));
      } @else {
        background: $btn_normal;
      }
    }

    &:active {
      top: 0;
    }
  }

  #{$icon-tagName} {
    @extend %button_switch_icon;
  }

  &.submit {
    padding: $btn-padding;
    border: $btn-border-width solid $submit_btn_border;
    color: $submit_btn_text;

    @if $btn_gradient {
      @include background(linear-gradient(to bottom, $reset_grad));
      &:hover {
        @include background(linear-gradient(to bottom, $reset_grad_hover));
      }
    } @else {
      background: $submit;
      &:hover {
        background: $submit_hover;
      }
    }

    &:hover, &:link, &:visited { color: $submit_btn_text; }

    &:hover {
      @if $btn_gradient {
        @include background(linear-gradient(to bottom, $btn-submit_grad));
      } @else {
        background: $submit_hover;
      }
    }

    &:active {
      @if $btn_gradient {
        @include background(linear-gradient(to bottom, $submit_grad_active));
      } @else {
        background: $submit_active;
      }
    }

    &:disabled,
    &.disabled {
      &:hover {
        @if $btn_gradient {
          @include background(linear-gradient(to bottom, $bt-submit_grad));
        } @else {
          background: $submit;
        }
      }
    }
  }
}

%switch {
  @extend %action;
  @extend %box-sizing;
  #{$icon-tagName} {
    @extend %button_switch_icon;
  }
  color: $switch_btn_text;
  &:link, &:visited { color: $switch_btn_text; }

  @if $switch_gradient {
    @include background(linear-gradient(to bottom, $switch_grad));
    &:hover, &.on {
      @include background(linear-gradient(to bottom, $switch_grad_hover));
    }
  } @else {
    background: $switch_normal;
    &:hover, &.on {
      background: $switch_normal_hover;
    }
  }

  &:hover, &.on {
    color: $switch_btn_hover_text;
  }

  &:disabled, &.disabled {
    &:hover {
      @if $switch_gradient {
        @include linear-gradient(to bottom, $switch_grad);
      } @else {
        background: $switch_normal;
      }
      color: $switch_btn_text;
    }
  }

  &:active {
    @if $btn_gradient {
      @include linear-gradient(to bottom, $switch_grad_active);
    } @else {
      background: $switch_normal_active;
    }
  }

  &.on {
    &:hover {
      @if $switch_gradient {
        @include linear-gradient(to bottom, $switch_on_grad_hover);
      } @else {
        background: $switch_on_hover;
      }
      border: $btn-border-width solid $switch_hover_border;
    }
    &:active {
      @if $btn_gradient {
        @include linear-gradient(to bottom, $switch_on_grad_active);
      } @else {
        background: $switch_on_active;
      }
    }
  }

  border: $switch_border-width solid $switch_btn_border;
}
