//base setting
%action {
  display: inline-table;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;

  #{$action-label-className} {
    display: table-cell;
    vertical-align: middle;
  }

  #{$icon-tagName} {
    display: table-cell;
    width: $icon_ratio;
    height: $icon_ratio;

    + #{$action-label-className} {
      padding-left: 0.382em;
    }
  }

  &#{$icon-positionized-className} #{$action-label-className} {
    padding-right: 0.382em;
  }

  &:disabled,
  &.disabled {
    opacity: $disabledOpacity;
  }
}
