#{$fieldset} { @extend fieldset; }

%inputgroup {
  display: table-cell;

  label {
    display: inline-block;
    width: auto;
    margin: 0 0.8em 0 0;
  }
}

//form validation
%validation_error {
  .field-label, legend {
    color: $alert-error;
  }

  #{$all-text-inputs},
  textarea {
    border-color: $red;
  }
}

//横並びフォーム
@mixin horizontal_form($inputareaClassName) {
  label {
    margin: 0;
    vertical-align: middle;
  }
  #{$inputareaClassName} { @extend %inputgroup; }
}

//縦並びフォーム
@mixin vertical_form($filedsetClassName, $inputareaClassName) {

  .field-label { display: block; }

  #{$inputareaClassName} { @extend %inputgroup; }
}
