/* reset list style */
%reset_liststyle {
  @extend %reset_margin_padding;
  list-style: none;
  list-style-image: none;
}

%anchor_as_parts {
  display: inline-block;
  text-decoration: none;
}

%erase_background {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}