@include define_column_grid($page_width);

%first-grid { margin-left: 0; }

%lfloating { float: left; }

%clearfix { @include easy-clearfix; }

%pie-clearfix { @include clearfix; }

%box-sizing { @include box-sizing(border-box); }

%one_column_centerd {
  width: $page_width - 32px;
  margin: 0 auto;
}
