/* pagenation */
%ui-pagenation {
  @extend %centered_horizontal;
  a {
    @extend %action;
    @include default_ui_pagenation_action;
    &.current{
      color: $default_fc;
    }
  }
}

/* tab */
%ui-tab {
  font-size: 0;
  @include tab_layout;

  &.centered {
    @extend %centered_horizontal;
  }

  ul, ol, menu {
    @extend %horizontal_list;
  }

  a {
    position: relative;
    margin: 0 $each_tab_margin 0 0;
    @extend %action;
    @include default_tab_design;
    font-size: 1rem;
  }

  #{$icon-tagName} {
    width: $icon_ratio_tab;
    height: $icon_ratio_tab;
    @include background-size(auto $icon_ratio_tab);
  }
}

%ui-tab-content {
  position: relative;
  @include default_tab_content_design;
}

/* table_list */
@mixin table_list($childObj, $grad:false) {
  @extend %table_list;

  #{$childObj} {
    @content;

    &:hover {
      @if $grad {
        @include background(linear-gradient(lighten($site_key_color, $lighten_amount), $site_key_color));
      }@else {
        background: $site_key_color;
      }
    }
  }
}

%table_list {
  @extend %reset_liststyle;
  
  a {
    @extend %action;
    display: block;

    #{$icon-tagName} {
      width: $icon_ratio_tab;
      height: $icon_ratio_tab;
      @include background-size(auto $icon_ratio_tab);
    }
  }
}