/* pagenation */
%ui-pagenation {
  @extend %centered_horizontal;
  a {
    @extend %action;
    @include default_ui_pagenation_action;
    &.current{
      color: $default_fc;
    }
  }
}

/* tab */
%ui-tab {
  font-size: 0;
  @include tab_layout;

  &.centered {
    @extend %centered_horizontal;
  }

  ul, ol, menu {
    @extend %horizontal_list;
  }

  a {
    position: relative;
    margin: 0 $each_tab_margin 0 0;
    @extend %action;
    @include default_tab_design;
    font-size: px-to-rem($base_fs);
  }

  #{$icon-tagName} {
    width: $icon_ratio_tab;
    height: $icon_ratio_tab;
    background-size: auto $icon_ratio_tab;
  }
}

%ui-tab-content {
  position: relative;
  @include default_tab_content_design;
}

/* table_list */
@mixin table_list($childObj, $grad:false) {
  @extend %table_list;

  #{$childObj} {
    @content;

    &:hover {
      @if $grad {
        @include background(linear-gradient(lighten($site_key_color, $lighten_amount), $site_key_color));
      }@else {
        background: $site_key_color;
      }
    }
  }
}

%table_list {
  @extend %reset_liststyle;

  a {
    @extend %action;
    display: block;

    #{$icon-tagName} {
      width: $icon_ratio_tab;
      height: $icon_ratio_tab;
      background-size: auto $icon_ratio_tab;
    }
  }
}

.pulldown {
  position: relative;

  &:hover {
    .trigger { text-decoration: none; }

    .pulldown-area {
      overflow: visible;
      height: auto;
      z-index: 14;
    }

    .pulldown-menu { opacity: 1; }
  }
}

.pulldown-area {
  @extend %centeringX;
  position: absolute;
  z-index: -2;
  height: 0;
  overflow: hidden;
  @include transform(translateX(-50%));
}

@mixin pulldown-menu {
  position: relative;
  top: 0;
  opacity: 0;
  line-height: $grid_height +0px;
  background: rgba($default_bg_color, .96);
  // @include transition(all, 0.08s $ease-in-out-quad);

  &:before, &:after {
    @extend %bubble-arrow-top;
    right: 50%;
    margin-right: -12px;
  }

  @if $has_shadow {
    &:before {
      @extend %bubble-arrow-top-shadow;
      border-bottom-color: rgba(0,0,0, .1);
    }
  }

  a { display: block; }
}

%bubble-arrow-top {
  content: "";
  display: block;
  position: absolute;
  top: -24px;
  width: 0;
  height: 0;
  margin-left: -6px;
  border: solid 12px transparent;
  border-bottom-color: $default_bg_color;
}
//arrow shadow
%bubble-arrow-top-shadow { top: -25px; }
