/* pagenation */
%ui-pagenation {
  @extend %centered_horizontal;
  a {
    @extend %action;
    @include default_ui_pagenation_action;
    &.current{
      color: $default_fc;
    }
  }
}

/* tab */
%ui-tab {
  font-size: 0;
  @include tab_layout;

  &.centered {
    @extend %centered_horizontal;
  }

  ul, ol {
    @extend %horizontal_list;
  }

  a {
    position: relative;
    margin: 0 $each_tab_margin 0 0;
    @extend %action;
    @include default_tab_design;
    font-size: px-to-rem($base_fs);
  }

  #{$icon-tagName} {
    width: $icon_ratio_tab;
    height: $icon_ratio_tab;
    @include background-size(auto $icon_ratio_tab);
  }
}

%ui-tab-content {
  position: relative;
  @include default_tab_content_design;
}

/* table_list */
@mixin table_list($childObj, $grad:false) {
  @extend %table_list;

  #{$childObj} {
    @content;

    &:hover {
      @if $grad {
        @include background(linear-gradient(lighten($site_key_color, $lighten_amount), $site_key_color));
      }@else {
        background: $site_key_color;
      }
    }
  }
}

%table_list {
  @extend %reset_liststyle;
  
  a {
    @extend %action;
    display: block;

    #{$icon-tagName} {
      width: $icon_ratio_tab;
      height: $icon_ratio_tab;
      @include background-size(auto $icon_ratio_tab);
    }
  }
}

@mixin pulldownarea($pd-class: 'pulldown', $pd-hoverablearea-class: 'pulldown-area', $pd-menu-class: 'pulldown-menu') {
   .#{$pd-class} {
    position: relative;

    &:hover {
      .#{pd-hoverablearea-class} {
        overflow: visible;
        height: auto;
      }

      .#{$pd-menu-class} { opacity: 1; }
    }
  }

  .#{pd-hoverablearea-class} {
    position: absolute;
    z-index: -2;
    height: 0;
    overflow: hidden;
  }

  .#{$pd-menu-class} {
    position: relative;
    opacity:   0;
    line-height: $grid_height +0px;
    @include bubbleBody;
    @include pulldownmenu_design;

    a { display: block; }
  }
}

%bubble-arrow-top {
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0 - $bubble_arrow_size * 2px;
    width: 0;
    height: 0;
    margin-left: 0 - $bubble_arrow_size / 2px;
    border: solid $bubble_arrow_size transparent;
    border-bottom-color: $bubble_body_color;
  }

  //arrow shadow
  &:before {
    top: 0 - ($bubble_arrow_size * 2) - 1px;
    border-bottom-color: rgba(0,0,0, .1);
  }
}