// table settings
%simple-table {
  tbody, tfoot {
    th {
      padding-left: $padding_lr / 2;
    }

    td, th {
      border-style: solid;
      border-color: $gray_light;
    }

    th {
      border-right-width: 0 !important;
    }
  }

  tfoot {
    td, th {
      border-color: $gray;
    }
  }
}
