// table settings
.has-outline {
  border: solid 1px $gray;

  tbody, tfoot {
    th {
      padding-left: $padding_lr / 2;
      border-right-width: 0 !important;
      text-align: right;
    }
  }

  tfoot {
    td, th {
      border-color: $gray;
    }
  }
}
