/* typography settings */

%h1 {
	@include heading-fs-lh($h1-fs, $h1-lh); //@mixin heading-fs-lh($fontsize, $grid_height_num)
}

%h2 {
	@include heading-fs-lh($h2-fs, $h2-lh);
}

%h3 {
	@include heading-fs-lh($h3-fs, $h3-lh);
}

%h4 {
	@include heading-fs-lh($h4-fs, $h4-lh);
}

%h5 {
	@include heading-fs-lh($h5-fs, $h5-lh);
}

%h6 {
	@include heading-fs-lh($h6-fs, $h6-lh);
}

%alert-warning {
	@extend %bold;
  color: $alert-warning;
}

%alert-error {
	@extend %bold;
  color: $alert-error;
}

%alert-success {
	@extend %bold;
  color: $alert-success;
}

%alert-info {
	@extend %bold;
  color: $alert-info;
}

//for example ui-pagenation, ui-tab
%current {
  @extend %bold;
}

.note { font-size: 0.8em; }

// for Antialias setting for Safari
%bold {
  @include font_weight(bold);
}

//to clear text color for Safari, Firefox
%text_on_dark_background{
  text-shadow:#000 0 0 0;
  -moz-opacity: 0.99; /* for Firefox */
}

//for text-overflow
%text-overflow {
  overflow: hidden;  
  white-space: nowrap;  
  text-overflow: ellipsis;
}