/* typography settings */

%h1 {
  @include headingDesign($h1-weight, $h1-fs, $h1-lh, $h1-fc, $h1-margin); //@mixin heading-fs-lh($fontsize, $grid_height_num)
}

%h2 {
  @include headingDesign($h2-weight, $h2-fs, $h2-lh, $h2-fc, $h2-margin);
}

%h3 {
  @include headingDesign($h3-weight, $h3-fs, $h3-lh, $h3-fc, $h3-margin);
}

%h4 {
  @include headingDesign($h4-weight, $h4-fs, $h4-lh, $h4-fc, $h4-margin);
}

%h5 {
  @include headingDesign($h5-weight, $h5-fs, $h5-lh, $h5-fc, $h5-margin);
}

%h6 {
  @extend %h5;
  margin: $h6-margin;
}

// for Antialias setting for Safari
%bold {
  @include font_weight($default_fw_bold);
}

%bolder {
  @include font_weight(600);
}

//to clear text color for Safari, Firefox
%text_on_dark_background{
  text-shadow:#000 0 0 0;
  -moz-opacity: 0.99; /* for Firefox */
}

//for text-overflow
%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%selection {
  &::selection {
    background: $selection_bg;
    color: $selection_fc;
  }
}

%number {
  text-align: right;
}
